@font-face {
  font-family: "Mandatory";
  src: url("/fonts/Mandatory/Mandatory.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
